@import "../extend/index.scss";

.card_profile {
    @include card_profile;
}

.card_registed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
}
.card_registed:hover {
    opacity: 1;
}
