$color-white: #fff;
$color-white-2: #f5f5f5;
$color-gray-1: #afafaf;
$color-gray-2: #424242;
$color-black: #222;
$color-black-2: #212321;
$color-red: #ff0000;
$color-green: #56ab2f;

$background-1: linear-gradient(to right, white 0%, #edeff5 40%, #c0b5b5 60%);
$background-2: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
$background-3: #ffffff;
$background-4: rgba(0, 0, 0, 0.85);
$background-5: #ffffff6b;

$fs8: 8px;
$fs10: 10px;
$fs12: 12px;
$fs13: 13px;
$fs15: 15px;
$fs17: 17px;
$fs20: 20px;

$fw-300: normal;
$fw-500: 400;
$fw-bold: bold;
$fw-bolder: bolder;

$lgH0: 0;
$lgH10: 10px;
$lgH20: 20px;
$lgH30: 30px;

$width4: 40px;
$width5: 50px;
$width6: 60px;
$width7: 70px;
$width8: 80px;
$width10: 100px;

$height4: 40px;
$height5: 50px;
$height6: 70px;
$height7: 70px;
$height8: 80px;
$height10: 100px;
//margin
$mg5: 5px;
$mg10: 10px;
$mg20: 20px;
$mg25: 25px;
$mg40: 40px;
$mg50: 50px;
$mgx10: 0 10px;
$mgy10: 10px 0;
$mgy20: 20px 0;

//padding
$pd-5: 5px;
$pd-10: 10px;
$pd-20: 20px;
$pd-25: 25px;
$pd-40: 40px;
$pd-50: 50px;

//border-radius
$boderR5: 5px;
$boderR10: 10px;

// border
$border: 1px solid #ebebec;
$borderTable: 1px solid #ebebec;
$box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
