.footer {
  width: 100%;
  color: #919191;
  padding: 40px 0;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.footer h6 {
  font-size: 14px;
}

.footer .gird {
  text-align: center;
}

.sign_in {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.sign_in .wrap_login {
  background: none !important;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid #ebebec;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.sign_in .wrap_login h5 {
  text-align: center;
  font-size: 20px;
  color: #212321;
  font-weight: bold;
}

.sign_in .wrap_login input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #cdcdcd5c;
}

.sign_in .wrap_login input::-webkit-input-placeholder {
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.sign_in .wrap_login input:-ms-input-placeholder {
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.sign_in .wrap_login input::-ms-input-placeholder {
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.sign_in .wrap_login input::placeholder {
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.sign_in .wrap_login .input_show {
  width: 100%;
}

.sign_in .wrap_login .input_show .show_pw {
  position: absolute;
  right: 2%;
  cursor: pointer;
}

.sign_in .wrap_login .input_show .show_pw .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
}

.sign_in .wrap_login button {
  margin-top: 10px;
  font-size: 15px;
  padding: 10px 15px;
  color: #212321;
  background-color: #ffffff;
  border: 1px solid #ebebec;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.sign_in .wrap_login .msg_error {
  font-size: 13px;
  color: #ff0000;
  margin-left: 10px;
}

.sign_in .wrap_login a {
  font-size: 13px;
  cursor: pointer;
}

.loading {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff6b;
}

.loading svg {
  color: #56ab2f;
}

.card_profile {
  width: 100%;
}

.card_profile input {
  margin: 2px 0 !important;
  padding: 5px 0 !important;
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #cdcdcd5c;
}

.card_profile li {
  margin: 0 !important;
  padding: 0 !important;
}

.card_registed {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_registed:hover {
  opacity: 1;
}

.subscriber {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscriber .card {
  max-width: 600px;
  padding: 20px;
}

.subscriber .card .card_content {
  background: #ffffff;
  border-radius: 10px;
}

.subscriber .card .card_content .tag_p {
  font-size: 16px;
  font-weight: bolder;
  line-height: 40px;
  text-align: center;
}

.subscriber .card .card_content p {
  font-size: 14px;
  line-height: 30px;
}

.subscriber .card .card_content p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscriber .card .action {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subscriber .card .action span {
  padding: 20px;
  background: #ffc14c;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.subscriber .card .action span:hover {
  background: #fda605 !important;
}

.manager_shop {
  background-color: #d6cfc957 !important;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.manager_shop .box_subs {
  background: #d6cfc957;
  text-align: center;
  height: 100%;
  padding: 010px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.manager_shop .box_subs p {
  font-size: 14px;
  color: #00000099;
}

.manager_shop .box_subs button {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  background: #56ab2f;
  outline: none;
  border: none;
  color: #ffffff;
  margin-left: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.manager_shop .cell_tier {
  background: #d6cfc957;
  padding: 5px 10px;
  font-size: 13px;
  border: 1px solid #ebebec;
  border-radius: 10px;
  cursor: pointer;
}

.manager_shop .card_profile {
  width: 100%;
}

.manager_shop .card_profile input {
  margin: 2px 0 !important;
  padding: 5px 0 !important;
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #cdcdcd5c;
}

.manager_shop .card_profile li {
  margin: 0 !important;
  padding: 0 !important;
}

.manager_shop .status {
  border: 1px solid #ebebec;
  padding: 5px;
  border-radius: 5px;
}

.manager_shop .subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manager_shop .subs .btn_img {
  cursor: pointer;
}

.manager_shop .subs .btn_unsub {
  background: #c45648;
}

.manager_shop .subs .btn_change {
  background: #919191;
}

.manager_shop .subs button,
.manager_shop .subs strong {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  background: #56ab2f;
  outline: none;
  border: none;
  color: #ffffff;
  margin-left: 5px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.manager_shop .card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manager_shop .card_content .box_add_item {
  width: 100%;
  border: 1px solid #ebebec;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
}

.manager_shop .card_content .box_add_item input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #cdcdcd5c;
}

.manager_shop .card_content .box_add_item input::-webkit-input-placeholder {
  padding-right: 10px !important;
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.manager_shop .card_content .box_add_item input:-ms-input-placeholder {
  padding-right: 10px !important;
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.manager_shop .card_content .box_add_item input::-ms-input-placeholder {
  padding-right: 10px !important;
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.manager_shop .card_content .box_add_item input::placeholder {
  padding-right: 10px !important;
  color: #919191;
  opacity: 0.5;
  text-align: right;
}

.manager_shop .card_content .box_add_item .menu_prod {
  border: 1px solid #ebebec;
  border-radius: 20px;
  padding: 0 20px;
}

.manager_shop .card_content .box_add_item .text_area {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ebebec;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.manager_shop .card_content .box_add_item .text_area:focus-visible {
  outline: #56ab2f auto 1px;
}

.modal_plans .box_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal_plans .dglog_conntent {
  border: 1px solid #ebebec;
}

.modal_plans .box_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal_plans .box_2 .card {
  max-width: 200px;
  margin: 5px;
  padding: 5px;
  background: #d6cfc957 !important;
}

.modal_plans .box_2 .box_fab {
  text-align: center;
  margin-bottom: 15px;
}

.modal_plans .box_2 .box_fab .fab {
  background: none !important;
  font-size: 10px;
  font-weight: bolder;
}

.modal_plans .box_2 .action {
  margin-top: 0 !important;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal_plans .box_2 .action span {
  padding: 20px;
  background: #ffc14c;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.modal_plans .box_2 .action span:hover {
  background: #fda605 !important;
}

.modal_plans .box_2 .action span {
  font-size: 12px;
  padding: 10px;
}

@font-face {
  font-family: "Gotham Ultra";
  src: url("../../font/Gotham Ultra.otf") format("opentype");
}

body {
  font-family: "Gotham Ultra", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  background: #f5f5f5 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ece9e6));
  background: linear-gradient(#f5f5f5, #ece9e6);
}

body::-webkit-scrollbar,
.MuiDialogContent-root::-webkit-scrollbar,
.MuiGrid-root::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ece9e6;
}

body::-webkit-scrollbar-thumb,
.MuiDialogContent-root::-webkit-scrollbar-thumb,
.MuiGrid-root::-webkit-scrollbar-thumb {
  background: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #cdcdcd5c;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.MuiMenuItem-root {
  font-size: 13px !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none !important;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 10px !important;
}

.Toastify__toast-container {
  width: auto !important;
}

.MuiDrawer-paper {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ece9e6)) !important;
  background: linear-gradient(#f5f5f5, #ece9e6) !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #56ab2f !important;
}

.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDialog-paper,
.MuiDialog-paperScrollPaper MuiDialog-paperWidthLg {
  overflow: hidden !important;
}

.MuiCard-root,
.card {
  border-radius: 20px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}
/*# sourceMappingURL=index.css.map */