@import "../variable/variables.scss";
@import "../footer/index.scss";
@import "../signin/index.scss";
@import "../loading/index.scss";
@import "../profile/index.scss";
@import "../subscriber/index.scss";

@font-face {
    font-family: "Gotham Ultra";
    src: url("../../font/Gotham\ Ultra.otf") format("opentype");
}

body {
    font-family: "Gotham Ultra", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

main {
    flex-grow: 1;
}

body {
    background: #f4f4f1 !important;
    background: -webkit-linear-gradient(#f4f4f1, #ece9e6);
    background: linear-gradient(#f4f4f1, #ece9e6);
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
    background: #e2dfdf;
    border-radius: 6px;
}

.MuiMenuItem-root {
    font-size: 13px !important;
}
.MuiInput-underline:before,
.MuiInput-underline:after {
    display: none !important;
}
.MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    border-radius: 10px !important;
}

.Toastify__toast-container {
    width: auto !important;
}

.MuiDrawer-paper {
    background: linear-gradient(#f4f4f1, #ece9e6) !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: $color-green !important;
}

.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
}
