@import "../../../assets/styles/variable/variables.scss";

.footer {
    width: 100%;
    color: $color-gray;
    padding: 40px 0;
    box-shadow: $box-shadow;
    h6 {
        font-size: 14px;
    }
    .gird {
        text-align: center;
    }
}
