.outstanding {
    color: mix(#fff, #919191, 20%);
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, #919191, 94%), 0.005em 0.005em 0 mix(#fff, #919191, 60%),
        0.01em 0.01em 0 mix(#fff, #919191, 62%), 0.015em 0.015em mix(#fff, #919191, 64%),
        0.02em 0.02em 0 mix(#fff, #919191, 66%), 0.025em 0.025em 0 mix(#fff, #919191, 68%),
        0.03em 0.03em 0 mix(#fff, #919191, 70%), 0.035em 0.035em 0 mix(#fff, #919191, 72%);
}
