@import "../extend/index.scss";

.manager_shop {
    background-color: $background-main !important;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    .box_subs {
        background: $background-main;
        text-align: center;
        height: 100%;
        padding: 010px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        p {
            font-size: 14px;
            color: #00000099;
        }
        button {
            margin-top: 10px;
            @include buttonSubs;
        }
    }

    .cell_tier {
        background: $background-main;
        padding: 5px 10px;
        font-size: 13px;
        border: $border1;
        border-radius: 10px;
        cursor: pointer;
    }

    .card_profile {
        @include card_profile;
    }

    .status {
        border: $border1;
        padding: 5px;
        border-radius: 5px;
    }
    .subs {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn_img {
            cursor: pointer;
        }
        .btn_unsub {
            background: $color-un-subs;
        }
        .btn_change {
            background: $color-gray;
        }
        button,
        strong {
            @include buttonSubs;
        }
    }
    .card_content {
        display: flex;
        justify-content: space-between;
        .box_add_item {
            width: 100%;
            border: $border1;
            border-radius: 20px;
            padding: 15px;
            margin: 15px;
            input {
                @include input_form;
            }
            input::placeholder {
                padding-right: 10px !important;
                @include placehoder_form;
            }
            .menu_prod {
                border: $border1;
                border-radius: 20px;
                padding: 0 20px;
            }
            .text_area {
                width: 100%;
                overflow: hidden;
                border: $border1;
                border-radius: 20px;
                padding: 10px;
                margin-top: 20px;
            }
            .text_area:focus-visible {
                outline: $color-green auto 1px;
            }
        }
    }
    .box_media {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.modal_plans {
    .box_1 {
        display: flex;
        justify-content: space-between;
    }
    .dglog_conntent {
        border: 1px solid #ebebec;
    }
    .box_2 {
        display: flex;
        .card {
            max-width: 200px;
            margin: 5px;
            padding: 5px;
            background: $background-main !important;
        }
        .box_fab {
            text-align: center;
            margin-bottom: 15px;
            .fab {
                background: none !important;
                font-size: 10px;
                font-weight: bolder;
            }
        }
        .action {
            margin-top: 0 !important;
            margin-bottom: 5px;
            @include btn_paypal;
            span {
                font-size: 12px;
                padding: 10px;
            }
        }
    }
}
