@import "../extend/index.scss";

.subscriber {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    .card {
        max-width: 600px;
        padding: 20px;
        .card_content {
            background: $background-white;
            border-radius: 10px;
            .tag_p {
                font-size: 16px;
                font-weight: bolder;
                line-height: 40px;
                text-align: center;
            }
            p {
                font-size: 14px;
                line-height: 30px;
                span {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .action {
            @include btn_paypal;
        }
    }
}
